/*=========================================
  PREMIUM FOOTER
=========================================*/

footer{

    position:relative;

    padding:80px 8% 40px;

    text-align:center;

    background:linear-gradient(
        180deg,
        transparent,
        rgba(12,131,31,.12)
    );

    border-top:1px solid rgba(255,255,255,.08);

    overflow:hidden;

}

/* Background Glow */

footer::before{

    content:"";

    position:absolute;

    width:420px;
    height:420px;

    background:#22C55E;

    filter:blur(180px);

    opacity:.12;

    left:50%;
    top:-180px;

    transform:translateX(-50%);

    z-index:0;

}

/* Content */

footer>*{

    position:relative;

    z-index:2;

}

/* Logo */

footer h2{

    font-size:44px;

    color:#22C55E;

    letter-spacing:4px;

    margin-bottom:18px;

    font-weight:800;

}

/* Text */

footer p{

    color:#bdbdbd;

    font-size:16px;

    margin-bottom:35px;

    line-height:1.8;

}

/* Social */

.social{

    display:flex;

    justify-content:center;

    gap:18px;

    flex-wrap:wrap;

}

/* Icons */

.social i{

    width:58px;

    height:58px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:50%;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    font-size:22px;

    color:white;

    cursor:pointer;

    transition:.35s ease;

}

/* Hover */

.social i:hover{

    background:#22C55E;

    color:#fff;

    transform:
        translateY(-8px)
        scale(1.1);

    box-shadow:
        0 12px 30px rgba(34,197,94,.45);

}

/* Copyright */

.footer-copy{

    margin-top:40px;

    padding-top:20px;

    border-top:1px solid rgba(255,255,255,.08);

    color:#8d8d8d;

    font-size:14px;

}

/* Mobile */

@media(max-width:768px){

footer{

padding:60px 20px 30px;

}

footer h2{

font-size:34px;

}

footer p{

font-size:15px;

}

.social{

gap:14px;

}

.social i{

width:50px;

height:50px;

font-size:20px;

}

}
