/*=========================================
   APPLE PREMIUM EFFECTS
=========================================*/

/* Scroll Animation */

.reveal{

    opacity:0;

    transform:translateY(80px);

    transition:1s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}

/* Glow Hover */

.glow-hover{

    transition:.4s;

}

.glow-hover:hover{

    box-shadow:
    0 0 25px rgba(34,197,94,.45),
    0 0 60px rgba(34,197,94,.25);

}

/* Smooth */

img{

    user-select:none;

    -webkit-user-drag:none;

}

button,
a{

    transition:.35s ease;

}

/* Selection */

::selection{

background:#22C55E;

color:white;

}

/* Scrollbar */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#050505;

}

::-webkit-scrollbar-thumb{

background:#22C55E;

border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

background:#16A34A;

}

/*=========================================
  RESPONSIVE
=========================================*/

@media(max-width:1024px){

.hero{

flex-direction:column;

text-align:center;

padding-top:150px;

}

.hero-left{

max-width:100%;

}

.hero-info{

justify-content:center;

flex-wrap:wrap;

}

.phone{

width:280px;

}

nav ul{

gap:18px;

}

}

@media(max-width:768px){

header{

padding:16px 20px;

}

nav{

flex-direction:column;

gap:15px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

.hero-left h1{

font-size:42px;

}

.hero-left p{

font-size:17px;

}

.hero-buttons{

justify-content:center;

}

.phone{

width:230px;

}

.download-btn,
.learn-btn{

width:100%;

text-align:center;

}

.hero-info{

gap:20px;

}

}

@media(max-width:480px){

.hero-left h1{

font-size:34px;

}

.hero-left p{

font-size:15px;

}

.features h2,
.screenshots h2,
.faq h2{

font-size:30px;

}

.stats{

grid-template-columns:1fr;

}

.cards{

grid-template-columns:1fr;

}

.gallery img{

width:180px;

}

footer h2{

font-size:28px;

}

}

/*=========================================
   FLOATING BACKGROUND
=========================================*/

body::before{

content:"";

position:fixed;

width:500px;

height:500px;

border-radius:50%;

background:#22C55E;

filter:blur(180px);

opacity:.08;

top:-150px;

left:-150px;

animation:moveGlow 12s ease-in-out infinite;

z-index:-5;

}

body::after{

content:"";

position:fixed;

width:450px;

height:450px;

border-radius:50%;

background:#16A34A;

filter:blur(180px);

opacity:.08;

bottom:-150px;

right:-150px;

animation:moveGlow2 14s ease-in-out infinite;

z-index:-5;

}

@keyframes moveGlow{

0%{

transform:translate(0,0);

}

50%{

transform:translate(120px,80px);

}

100%{

transform:translate(0,0);

}

}

@keyframes moveGlow2{

0%{

transform:translate(0,0);

}

50%{

transform:translate(-120px,-80px);

}

100%{

transform:translate(0,0);

}

}
