/*=========================================
  SCREENSHOTS SECTION
=========================================*/

.screenshots{

    padding:120px 8%;
    text-align:center;
    overflow:hidden;

}

.screenshots h2{

    font-size:48px;
    margin-bottom:70px;
    font-weight:700;

}

/* Slider */

.gallery{

    display:flex;
    gap:40px;

    width:max-content;

    animation:slideGallery 25s linear infinite;

}

.gallery:hover{

    animation-play-state:paused;

}

/* Phone Frame */

.gallery img{

    width:280px;

    border-radius:35px;

    border:8px solid rgba(255,255,255,.08);

    background:#111;

    backdrop-filter:blur(20px);

    box-shadow:

    0 25px 60px rgba(0,0,0,.45),
    0 0 35px rgba(34,197,94,.25);

    transition:.45s ease;

}

/* Hover */

.gallery img:hover{

    transform:

    translateY(-18px)
    scale(1.05)
    rotateY(8deg);

    box-shadow:

    0 35px 80px rgba(0,0,0,.6),
    0 0 60px rgba(34,197,94,.45);

}

/* Shine */

.gallery img{

    position:relative;

}

/* Auto Slide */

@keyframes slideGallery{

0%{

transform:translateX(0);

}

100%{

transform:translateX(-50%);

}

}

/* Mobile */

@media(max-width:768px){

.gallery{

gap:20px;

}

.gallery img{

width:210px;

}

.screenshots{

padding:90px 20px;

}

.screenshots h2{

font-size:34px;

}

}
